@font-face {
    font-family: raju;
    src: url(./HelveticaNowDisplay-Medium_2wEhlmo-TD_wsqqEEwmJC.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html , body {
    height: 100%;
    width: 100%;
    
}

.main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    
}

 .nav{
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;  
    /* y-axis k liye */
    justify-content: center;
    /* x-axis k liye */
    gap: 50px;
    font-family: raju;
    font-weight: 200;
 }

 .nav>h4{
    font-size: 25px;
 }